## Дослідження динаміки зміни кількості світового населення за країнами (1970-2050рр.)

### Обрані датасети:
https://www.kaggle.com/datasets/tusharaggarwal27/2022-dec-world-populations
https://www.kaggle.com/datasets/iamsouravbanerjee/world-population-dataset

In [136]:
# Імпорт необхідних бібліотек
import pandas as pd
import numpy as np

### Отримання даних:

In [137]:
# Dataset №1
first_df = pd.read_csv("world_population_1.csv")
first_df

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [138]:
# Dataset №2
second_df = pd.read_csv("world_population_2.csv")
second_df

,cca2,country,pop2022,pop2021,pop2020,pop2050,pop2030,pop2015,pop2010,pop2000,pop1990,pop1980,pop1970,area,landAreaKm,density,GrowthRate,WorldPercentage,rank
0,CN,China,1425887.337,1425893.465,1424929.781,1312636.325,1415605.906,1393715.448,1348191.368,1264099.069,1153704.252,982372.466,822534.450,9706961,9424702.90,151.2926,1.0000,0.1788,1
1,IN,India,1417173.173,1407563.842,1396387.127,1670490.596,1514994.080,1322866.505,1240613.620,1059633.675,870452.165,696828.385,557501.301,3287590,2973190.00,476.6507,1.0068,0.1777,2
2,US,United States,338289.857,336997.624,335942.003,375391.963,352162.301,324607.776,311182.845,282398.554,248083.732,223140.018,200328.340,9372610,9147420.00,36.9820,1.0038,0.0424,3
3,ID,Indonesia,275501.339,273753.191,271857.970,317225.213,292150.100,259091.970,244016.173,214072.421,182159.874,148177.096,115228.394,1904569,1877519.00,146.7369,1.0064,0.0345,4
4,PK,Pakistan,235824.862,231402.117,227196.741,367808.468,274029.836,210969.298,194454.498,154369.924,115414.069,80624.057,59290.872,881912,770880.00,305.9164,1.0191,0.0296,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,MS,Montserrat,4.390,4.417,4.500,3.781,4.301,5.059,4.938,5.138,10.805,11.452,11.402,102,102.00,43.0392,0.9939,0.0000,230
230,FK,Falkland Islands,3.780,3.764,3.747,3.779,3.869,3.408,3.187,3.080,2.332,2.240,2.274,12173,12173.00,0.3105,1.0043,0.0000,231
231,NU,Niue,1.934,1.937,1.942,2.096,1.948,1.847,1.812,2.074,2.533,3.637,5.185,260,261.00,7.4100,0.9985,0.0000,232
232,TK,Tokelau,1.871,1.849,1.827,2.430,2.046,1.454,1.367,1.666,1.669,1.647,1.714,12,10.00,187.1000,1.0119,0.0000,233
233,VA,Vatican City,0.510,0.511,0.520,0.731,0.561,0.564,0.596,0.651,0.700,0.733,0.752,1,0.44,1159.0909,0.9980,0.0000,234

### Підготовка даних для подальшої роботи

In [139]:
# Домноження стовпців pop2030 і pop2050 на 1000 - приведення до звичайного числа.
# Попередні дані були виражені в тисячах, тобто 1.45 = 1450.
transformed_second_df = second_df.apply(lambda value: value * 1000 if value.name in ['pop2030', 'pop2050'] else value) 

# Об'єднання двох датасетів у один
result_df = pd.merge(first_df, transformed_second_df[['country', 'pop2030', 'pop2050']], 
'left', left_on='Country/Territory', right_on='country')

# Приведення типу стовпців pop2030 і pop2050 до цілого числа
result_df = result_df.astype({ 'pop2030': np.int32, 'pop2050': np.int32 })

# Перейменування назв деяких стовпців
result_df.rename(
    columns= {
        "pop2030": "2030 Predicted population", "pop2050": "2050 Predicted population",
        "World Population Percentage": "World Population (%)"},
    inplace=True)

# Вилучення зайвої інформації
result_df.drop(columns=['CCA3', 'Capital', 'country'])

# Визначення наступного порядку для стовпців
result_df = result_df[['Rank', 'Country/Territory', 'Continent', '1970 Population', '1980 Population',
                       '1990 Population', '2000 Population', '2010 Population', '2015 Population', 
                       '2020 Population', '2022 Population', '2030 Predicted population',
                       '2050 Predicted population', 'Area (km²)', 'Density (per km²)',
                       'Growth Rate', 'World Population (%)']]
result_df

,Rank,Country/Territory,Continent,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population,2015 Population,2020 Population,2022 Population,2030 Predicted population,2050 Predicted population,Area (km²),Density (per km²),Growth Rate,World Population (%)
0,36,Afghanistan,Asia,10752971,12486631,10694796,19542982,28189672,33753499,38972230,41128771,50330837,74075234,652230,63.0587,1.0257,0.52
1,138,Albania,Europe,2324731,2941651,3295066,3182021,2913399,2882481,2866849,2842321,2789599,2456472,28748,98.8702,0.9957,0.04
2,34,Algeria,Africa,13795915,18739378,25518074,30774621,35856344,39543154,43451666,44903225,49787283,60001113,2381741,18.8531,1.0164,0.56
3,213,American Samoa,Oceania,27075,32886,47818,58230,54849,51368,46189,44273,41142,33557,199,222.4774,0.9831,0.00
4,203,Andorra,Europe,19860,35611,53569,66097,71519,71746,77700,79824,81528,80504,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,Wallis and Futuna,Oceania,9377,11315,13454,14723,13142,12182,11655,11572,11229,11349,142,81.4930,0.9953,0.00
230,172,Western Sahara,Africa,76371,116775,178529,270375,413296,491824,556048,575986,662726,851067,266000,2.1654,1.0184,0.01
231,46,Yemen,Asia,6843607,9204938,13375121,18628700,24743946,28516545,32284046,33696614,39923245,55296331,527968,63.8232,1.0217,0.42
232,63,Zambia,Africa,4281671,5720438,7686401,9891136,13792086,16248230,18927715,20017675,24676417,37460435,752612,26.5976,1.0280,0.25
233,74,Zimbabwe,Africa,5202918,7049926,10113893,11834676,12839771,14154937,15669666,16320537,19179393,26438589,390757,41.7665,1.0204,0.20

### Дослідження

#### Створення обчислювальних полів

In [140]:
# Передбачений темп зростання кількості населення (< 1 - спад, > 1 - ріст)
# 2030 рік
result_df['2030 Predicted growth rate'] = result_df['2030 Predicted population'] / result_df['2022 Population']

# 2050 рік
result_df['2050 Predicted growth rate'] = result_df['2050 Predicted population'] / result_df['2022 Population']

# Переважання народжуваності чи смертності у майбутньому (2030-2050рр.)
result_df['Future dominance'] = (result_df['2050 Predicted population'] / result_df['2030 Predicted population']).apply(lambda value: 'Birth' if value > 1 else 'Death')
result_df

,Rank,Country/Territory,Continent,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population,2015 Population,2020 Population,2022 Population,2030 Predicted population,2050 Predicted population,Area (km²),Density (per km²),Growth Rate,World Population (%),2030 Predicted growth rate,2050 Predicted growth rate,Future dominance
0,36,Afghanistan,Asia,10752971,12486631,10694796,19542982,28189672,33753499,38972230,41128771,50330837,74075234,652230,63.0587,1.0257,0.52,1.223738,1.801056,Birth
1,138,Albania,Europe,2324731,2941651,3295066,3182021,2913399,2882481,2866849,2842321,2789599,2456472,28748,98.8702,0.9957,0.04,0.981451,0.864249,Death
2,34,Algeria,Africa,13795915,18739378,25518074,30774621,35856344,39543154,43451666,44903225,49787283,60001113,2381741,18.8531,1.0164,0.56,1.108769,1.336232,Birth
3,213,American Samoa,Oceania,27075,32886,47818,58230,54849,51368,46189,44273,41142,33557,199,222.4774,0.9831,0.00,0.929280,0.757956,Death
4,203,Andorra,Europe,19860,35611,53569,66097,71519,71746,77700,79824,81528,80504,468,170.5641,1.0100,0.00,1.021347,1.008519,Death
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,Wallis and Futuna,Oceania,9377,11315,13454,14723,13142,12182,11655,11572,11229,11349,142,81.4930,0.9953,0.00,0.970359,0.980729,Birth
230,172,Western Sahara,Africa,76371,116775,178529,270375,413296,491824,556048,575986,662726,851067,266000,2.1654,1.0184,0.01,1.150594,1.477583,Birth
231,46,Yemen,Asia,6843607,9204938,13375121,18628700,24743946,28516545,32284046,33696614,39923245,55296331,527968,63.8232,1.0217,0.42,1.184785,1.641006,Birth
232,63,Zambia,Africa,4281671,5720438,7686401,9891136,13792086,16248230,18927715,20017675,24676417,37460435,752612,26.5976,1.0280,0.25,1.232731,1.871368,Birth
233,74,Zimbabwe,Africa,5202918,7049926,10113893,11834676,12839771,14154937,15669666,16320537,19179393,26438589,390757,41.7665,1.0204,0.20,1.175169,1.619958,Birth

#### Групування

In [117]:
# За континентами + обчислення теперішньої кількості світового населення
# Примітка - станом на жовтень 2022 року (останнє оновлення основного датасету)
population_amount = result_df[['Continent', '2022 Population']]
population_amount = population_amount.groupby('Continent').sum()
population_amount.loc['Total:'] = population_amount['2022 Population'].sum()
population_amount

               2022 Population
Continent
Africa              1426730932
Asia                4721383274
Europe               743147538
North America        600296136
Oceania               45038554
South America        436816608
Total:              7973413042

In [118]:
# За майбутніми тенденціями + обчислення кількості країн з цими тенденціями
future_dominance = result_df[['Country/Territory', 'Future dominance']]
future_dominance = future_dominance.groupby('Future dominance').count()
future_dominance

                  Country/Territory
Future dominance
Birth                           167
Death                            67

In [119]:
# За континентами + обчислення сумарної густоти населення разом із площею континенту
population_density = result_df[['Continent', 'Density (per km²)', 'Area (km²)']]
population_density = population_density.groupby('Continent').sum()
population_density.loc['Total:'] = [population_density['Density (per km²)'].sum(),
                                    population_density['Area (km²)'].sum()]
population_density = population_density.astype({'Area (km²)' : np.int64})
population_density

               Density (per km²)  Area (km²)
Continent
Africa                 7127.7158    30317963
Asia                  51251.2068    32138141
Europe                33166.2371    23010411
North America         10910.4703    24244178
Oceania                3048.4905     8515081
South America           293.6077    17833382
Total:               105797.7282   136059156

#### Маски

In [120]:
# Дізнатися країни, у яких кількість населення, станом на зараз, більша за 50 мільйонів
massive_countries = result_df[['Country/Territory', '2022 Population']][result_df['2022 Population'] > 50000000]

# Сортування по зростанню кількості
massive_countries.sort_values('2022 Population')

    Country/Territory  2022 Population
194       South Korea         51815810
42           Colombia         51874024
106             Kenya         54027487
140           Myanmar         54179306
99              Italy         59037474
193      South Africa         59893885
68             France         64626628
205          Tanzania         65497748
220    United Kingdom         67508936
206          Thailand         71697030
74            Germany         83369843
213            Turkey         85341241
94               Iran         88550570
228           Vietnam         98186856
55           DR Congo         99010212
57              Egypt        110990103
163       Philippines        115559009
63           Ethiopia        123379924
102             Japan        123951692
131            Mexico        127504125
171            Russia        144713314
16         Bangladesh        171186372
27             Brazil        215313498
149           Nigeria        218541212
156          Pakistan        235824862
93          Indonesia        275501339
221     United States        338289857
92              India       1417173173
41              China       1425887337

In [121]:
# Дізнатися в яких країнах передбачений приріст населення (2050 рік)
countries = result_df[['Country/Territory','2050 Predicted growth rate']][result_df['2050 Predicted growth rate'] > 1]

# Вивід перших десяти країн
countries.iloc[:10]

      Country/Territory  2050 Predicted growth rate
0           Afghanistan                    1.801056
2               Algeria                    1.336232
4               Andorra                    1.008519
5                Angola                    2.032316
7   Antigua and Barbuda                    1.056174
8             Argentina                    1.134274
11            Australia                    1.229798
13           Azerbaijan                    1.049162
14              Bahamas                    1.099128
15              Bahrain                    1.228907

In [122]:
# Вивести країни, де частка світового населення складає менше 0.05%
small_countries = result_df[['Country/Territory','World Population (%)']][(result_df['World Population (%)'] < 0.05)]
small_countries

       Country/Territory  World Population (%)
1                Albania                  0.04
3         American Samoa                  0.00
4                Andorra                  0.00
6               Anguilla                  0.00
7    Antigua and Barbuda                  0.00
..                   ...                   ...
223              Uruguay                  0.04
225              Vanuatu                  0.00
226         Vatican City                  0.00
229    Wallis and Futuna                  0.00
230       Western Sahara                  0.01

[102 rows x 2 columns]

#### Визначення індексу

In [133]:
# Новий індекс - місце у рейтингу ('Rank')
result_df_with_rank_index = result_df.set_index('Rank')
result_df_with_rank_index.sort_index(inplace=True)
result_df_with_rank_index

,Country/Territory,Continent,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population,2015 Population,2020 Population,2022 Population,2030 Predicted population,2050 Predicted population,Area (km²),Density (per km²),Growth Rate,World Population (%),2030 Predicted growth rate,2050 Predicted growth rate,Future dominance
Rank,,,,,,,,,,,,,,,,,,,
1,China,Asia,822534450,982372466,1153704252,1264099069,1348191368,1393715448,1424929781,1425887337,1415605906,1312636325,9706961,146.8933,1.0000,17.88,0.992789,0.920575,Death
2,India,Asia,557501301,696828385,870452165,1059633675,1240613620,1322866505,1396387127,1417173173,1514994080,1670490596,3287590,431.0675,1.0068,17.77,1.069025,1.178748,Birth
3,United States,North America,200328340,223140018,248083732,282398554,311182845,324607776,335942003,338289857,352162301,375391963,9372610,36.0935,1.0038,4.24,1.041008,1.109675,Birth
4,Indonesia,Asia,115228394,148177096,182159874,214072421,244016173,259091970,271857970,275501339,292150100,317225213,1904569,144.6529,1.0064,3.45,1.060431,1.151447,Birth
5,Pakistan,Asia,59290872,80624057,115414069,154369924,194454498,210969298,227196741,235824862,274029836,367808468,881912,267.4018,1.0191,2.96,1.162006,1.559668,Birth
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Montserrat,North America,11402,11452,10805,5138,4938,5059,4500,4390,4301,3781,102,43.0392,0.9939,0.00,0.979727,0.861276,Death
231,Falkland Islands,South America,2274,2240,2332,3080,3187,3408,3747,3780,3869,3779,12173,0.3105,1.0043,0.00,1.023545,0.999735,Death
232,Niue,Oceania,5185,3637,2533,2074,1812,1847,1942,1934,1948,2096,260,7.4385,0.9985,0.00,1.007239,1.083764,Birth
233,Tokelau,Oceania,1714,1647,1669,1666,1367,1454,1827,1871,2045,2430,12,155.9167,1.0119,0.00,1.092998,1.298771,Birth
234,Vatican City,Europe,752,733,700,651,596,564,520,510,561,731,1,510.0000,0.9980,0.00,1.100000,1.433333,Birth

##### Робота із рядками

In [134]:
# Вивід першої десятки рейтингу
result_df_with_rank_index.loc[:10]

,Country/Territory,Continent,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population,2015 Population,2020 Population,2022 Population,2030 Predicted population,2050 Predicted population,Area (km²),Density (per km²),Growth Rate,World Population (%),2030 Predicted growth rate,2050 Predicted growth rate,Future dominance
Rank,,,,,,,,,,,,,,,,,,,
1,China,Asia,822534450,982372466,1153704252,1264099069,1348191368,1393715448,1424929781,1425887337,1415605906,1312636325,9706961,146.8933,1.0000,17.88,0.992789,0.920575,Death
2,India,Asia,557501301,696828385,870452165,1059633675,1240613620,1322866505,1396387127,1417173173,1514994080,1670490596,3287590,431.0675,1.0068,17.77,1.069025,1.178748,Birth
3,United States,North America,200328340,223140018,248083732,282398554,311182845,324607776,335942003,338289857,352162301,375391963,9372610,36.0935,1.0038,4.24,1.041008,1.109675,Birth
4,Indonesia,Asia,115228394,148177096,182159874,214072421,244016173,259091970,271857970,275501339,292150100,317225213,1904569,144.6529,1.0064,3.45,1.060431,1.151447,Birth
5,Pakistan,Asia,59290872,80624057,115414069,154369924,194454498,210969298,227196741,235824862,274029836,367808468,881912,267.4018,1.0191,2.96,1.162006,1.559668,Birth
6,Nigeria,Africa,55569264,72951439,95214257,122851984,160952853,183995785,208327405,218541212,262580425,377459883,923768,236.5759,1.0241,2.74,1.201514,1.727179,Birth
7,Brazil,South America,96369875,122288383,150706446,175873720,196353492,205188205,213196304,215313498,223908968,230885725,8515767,25.2841,1.0046,2.70,1.039921,1.072324,Birth
8,Bangladesh,Asia,67541860,83929765,107147651,129193327,148391139,157830000,167420951,171186372,184424144,203904900,147570,1160.0350,1.0108,2.15,1.077330,1.191128,Birth
9,Russia,Europe,130093010,138257420,148005704,146844839,143242599,144668389,145617329,144713314,141432741,133133035,17098242,8.4636,0.9973,1.81,0.977331,0.919978,Death
10,Mexico,North America,50289306,67705186,81720428,97873442,112532401,120149897,125998302,127504125,134534107,143772364,1964375,64.9082,1.0063,1.60,1.055135,1.127590,Birth

In [127]:
# Вивід рейтингу від сотого до 115-ого місць
result_df_with_rank_index.loc[100:115]

,Country/Territory,Continent,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population,2015 Population,2020 Population,2022 Population,2030 Predicted population,2050 Predicted population,Area (km²),Density (per km²),Growth Rate,World Population (%),2030 Predicted growth rate,2050 Predicted growth rate,Future dominance
Rank,,,,,,,,,,,,,,,,,,,
100,Togo,Africa,2197383,2838110,3875947,5008035,6571855,7473229,8442580,8848699,10558178,15478883,56785,155.8281,1.0236,0.11,1.193190,1.749283,Birth
101,Switzerland,Europe,6181227,6319113,6711693,7182059,7822435,8281732,8638613,8740472,9143698,9753753,41284,211.7157,1.0056,0.11,1.046133,1.115930,Birth
102,Sierra Leone,Africa,2778557,3367477,4325388,4584067,6436698,7314773,8233969,8605718,10105188,13595023,71740,119.9570,1.0220,0.11,1.174241,1.579766,Birth
103,Laos,Asia,2675283,3297519,4314443,5430853,6323418,6787419,7319399,7529475,8321287,9775552,236800,31.7968,1.0141,0.09,1.105162,1.298305,Birth
104,Hong Kong,Asia,3955072,4978544,5838574,6731195,7132438,7399838,7500958,7488865,7485887,6975391,1104,6783.3922,0.9992,0.09,0.999602,0.931435,Death
105,Serbia,Europe,7193533,7777010,7987529,7935022,7653748,7519496,7358005,7221365,6832604,5777806,88361,81.7257,0.9897,0.09,0.946165,0.800099,Death
106,Nicaragua,North America,2444767,3303309,4227820,5123222,5855734,6298598,6755895,6948392,7688686,9094641,130373,53.2962,1.0143,0.09,1.106542,1.308884,Birth
107,Libya,Africa,1909177,2962720,4236983,5154790,6491988,6192235,6653942,6812341,7394813,8539976,1759540,3.8717,1.0114,0.09,1.085502,1.253604,Birth
108,Bulgaria,Europe,8582950,8980606,8767778,8097691,7592273,7309253,6979175,6781953,6290166,5187392,110879,61.1654,0.9849,0.09,0.927486,0.764882,Death
109,Paraguay,South America,2408787,3078912,4059195,5123819,5768613,6177950,6618695,6780744,7425448,8591486,406752,16.6705,1.0115,0.09,1.095079,1.267042,Birth
110,Kyrgyzstan,Asia,3016384,3691209,4394734,4935182,5483774,5914980,6424874,6630623,7435378,9426858,199951,33.1612,1.0158,0.08,1.121369,1.421715,Birth
111,Turkmenistan,Asia,2201432,2862903,3720278,4569132,5267970,5766431,6250438,6430770,7034758,8263833,488100,13.1751,1.0140,0.08,1.093922,1.285046,Birth
112,El Salvador,North America,3619090,4508992,5367179,5958482,6114034,6231066,6292731,6336392,6554224,6636854,21041,301.1450,1.0035,0.08,1.034378,1.047418,Birth
113,Singapore,Asia,2061831,2400729,3022209,4053602,5163590,5650018,5909869,5975689,6251988,6337235,710,8416.4634,1.0058,0.07,1.046237,1.060503,Birth
114,Republic of the Congo,Africa,1396989,1829256,2385435,3134030,4437884,5064386,5702174,5970424,7114987,10378912,342000,17.4574,1.0231,0.07,1.191705,1.738388,Birth
115,Denmark,Europe,4922963,5125392,5144623,5340655,5550849,5677796,5825641,5882261,6104474,6445109,43094,136.4984,1.0048,0.07,1.037777,1.095686,Birth

In [141]:
# Вивід останніх 15-ти країн по рейтингу
result_df_with_rank_index.loc[220:]

,Country/Territory,Continent,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population,2015 Population,2020 Population,2022 Population,2030 Predicted population,2050 Predicted population,Area (km²),Density (per km²),Growth Rate,World Population (%),2030 Predicted growth rate,2050 Predicted growth rate,Future dominance
Rank,,,,,,,,,,,,,,,,,,,
220,Saint Martin,North America,5802,7776,28127,29610,36458,35020,32552,31791,33508,35453,53,599.8302,0.9951,0.0,1.054009,1.115190,Birth
221,British Virgin Islands,North America,9581,11109,15617,20104,27556,29366,30910,31305,32995,34768,151,207.3179,1.0059,0.0,1.053985,1.110621,Birth
222,Palau,Oceania,11366,12252,15293,19726,18540,17794,17972,18055,17919,16689,459,39.3355,1.0017,0.0,0.992467,0.924342,Death
223,Cook Islands,Oceania,20470,17651,17123,15897,17212,17695,17029,17011,17253,17674,236,72.0805,1.0005,0.0,1.014226,1.038975,Birth
224,Anguilla,North America,6283,6560,8316,11047,13172,14525,15585,15857,16055,15294,91,174.2527,1.0066,0.0,1.012487,0.964495,Death
225,Nauru,Oceania,6663,7635,9598,10377,10241,11185,12315,12668,13358,14695,21,603.2381,1.0125,0.0,1.054468,1.160009,Birth
226,Wallis and Futuna,Oceania,9377,11315,13454,14723,13142,12182,11655,11572,11229,11349,142,81.4930,0.9953,0.0,0.970359,0.980729,Birth
227,Tuvalu,Oceania,5814,7731,9182,9638,10550,10877,11069,11312,11917,13211,26,435.0769,1.0096,0.0,1.053483,1.167875,Birth
228,Saint Barthelemy,North America,2417,2983,5168,7082,8988,9643,10681,10967,11113,10210,21,522.2381,1.0098,0.0,1.013313,0.930975,Death
229,Saint Pierre and Miquelon,North America,5537,6106,6324,6274,6052,5978,5906,5862,5651,5165,242,24.2231,0.9964,0.0,0.964005,0.881099,Death
230,Montserrat,North America,11402,11452,10805,5138,4938,5059,4500,4390,4301,3781,102,43.0392,0.9939,0.0,0.979727,0.861276,Death
231,Falkland Islands,South America,2274,2240,2332,3080,3187,3408,3747,3780,3869,3779,12173,0.3105,1.0043,0.0,1.023545,0.999735,Death
232,Niue,Oceania,5185,3637,2533,2074,1812,1847,1942,1934,1948,2096,260,7.4385,0.9985,0.0,1.007239,1.083764,Birth
233,Tokelau,Oceania,1714,1647,1669,1666,1367,1454,1827,1871,2045,2430,12,155.9167,1.0119,0.0,1.092998,1.298771,Birth
234,Vatican City,Europe,752,733,700,651,596,564,520,510,561,731,1,510.0000,0.9980,0.0,1.100000,1.433333,Birth

### Візуалізація отриманих даних