In [12]:
import pandas as pd
import numpy as np

In [35]:
# Завантажити інформацію з файлу olympics.csv i почати зчитування інформації з першого рядка
df = pd.read_csv('olympics.csv', index_col = 0, skiprows=1)
df.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [4]:
# Вивести дані про таблицю
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 147 entries, Afghanistan (AFG) to Totals
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   № Summer        147 non-null    int64
 1   01 !            147 non-null    int64
 2   02 !            147 non-null    int64
 3   03 !            147 non-null    int64
 4   Total           147 non-null    int64
 5   № Winter        147 non-null    int64
 6   01 !.1          147 non-null    int64
 7   02 !.1          147 non-null    int64
 8   03 !.1          147 non-null    int64
 9   Total.1         147 non-null    int64
 10  № Games         147 non-null    int64
 11  01 !.2          147 non-null    int64
 12  02 !.2          147 non-null    int64
 13  03 !.2          147 non-null    int64
 14  Combined total  147 non-null    int64
dtypes: int64(15)
memory usage: 18.4+ KB

In [5]:
# Якого типу стовпці?
df.dtypes

№ Summer          int64
01 !              int64
02 !              int64
03 !              int64
Total             int64
№ Winter          int64
01 !.1            int64
02 !.1            int64
03 !.1            int64
Total.1           int64
№ Games           int64
01 !.2            int64
02 !.2            int64
03 !.2            int64
Combined total    int64
dtype: object

In [81]:
# Замінити тип стовпця на тип дати (стовпчик додано вручну)
df['unix_dates'] = np.random.randint(0, 1670161235, len(df))
df['normal_dates'] = pd.to_datetime(df['unix_dates'], unit='s')
df

,№ Summer,Gold,Silver,Bronze,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total,unix_dates,normal_dates
Afghanistan (AFG),13.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,13.0,0.0,0.0,2.0,2.0,656904170,1990-10-26 01:22:50
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0,662949794,1991-01-04 00:43:14
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0,1369846777,2013-05-29 16:59:37
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0,236983519,1977-07-05 20:45:19
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0,247678071,1977-11-06 15:27:51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zambia (ZAM) [ZAM],12.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,1.0,1.0,2.0,435700183,1983-10-22 19:49:43
Zimbabwe (ZIM) [ZIM],12.0,3.0,4.0,1.0,8.0,1.0,0.0,0.0,0.0,0.0,13.0,3.0,4.0,1.0,8.0,458896451,1984-07-17 07:14:11
Mixed team (ZZX) [ZZX],3.0,8.0,5.0,4.0,17.0,0.0,0.0,0.0,0.0,0.0,3.0,8.0,5.0,4.0,17.0,92215626,1972-12-03 07:27:06
Totals,27.0,4809.0,4775.0,5130.0,14714.0,22.0,959.0,958.0,948.0,2865.0,49.0,5768.0,5733.0,6078.0,17579.0,859702219,1997-03-30 06:10:19
North Korea (NK),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,140948190,1974-06-20 08:16:30

In [37]:
# Створити новий рядок таблиці, задавши значення тільки код та назва країни
df.loc['North Korea (NK)'] = np.nan
df

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,13.0,0.0,0.0,2.0,2.0
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zambia (ZAM) [ZAM],12.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,1.0,1.0,2.0
Zimbabwe (ZIM) [ZIM],12.0,3.0,4.0,1.0,8.0,1.0,0.0,0.0,0.0,0.0,13.0,3.0,4.0,1.0,8.0
Mixed team (ZZX) [ZZX],3.0,8.0,5.0,4.0,17.0,0.0,0.0,0.0,0.0,0.0,3.0,8.0,5.0,4.0,17.0
Totals,27.0,4809.0,4775.0,5130.0,14714.0,22.0,959.0,958.0,948.0,2865.0,49.0,5768.0,5733.0,6078.0,17579.0
North Korea (NK),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
# Вивести дані про таблицю. Відзначивши, що не всі поля заповненні
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 148 entries, Afghanistan (AFG) to North Korea (NK)
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   № Summer        147 non-null    float64
 1   01 !            147 non-null    float64
 2   02 !            147 non-null    float64
 3   03 !            147 non-null    float64
 4   Total           147 non-null    float64
 5   № Winter        147 non-null    float64
 6   01 !.1          147 non-null    float64
 7   02 !.1          147 non-null    float64
 8   03 !.1          147 non-null    float64
 9   Total.1         147 non-null    float64
 10  № Games         147 non-null    float64
 11  01 !.2          147 non-null    float64
 12  02 !.2          147 non-null    float64
 13  03 !.2          147 non-null    float64
 14  Combined total  147 non-null    float64
dtypes: float64(15)
memory usage: 18.5+ KB

In [39]:
# Заповнимо порожні – невизначені позиції нулем
df.fillna(0,inplace=True)
df

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,13.0,0.0,0.0,2.0,2.0
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zambia (ZAM) [ZAM],12.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,1.0,1.0,2.0
Zimbabwe (ZIM) [ZIM],12.0,3.0,4.0,1.0,8.0,1.0,0.0,0.0,0.0,0.0,13.0,3.0,4.0,1.0,8.0
Mixed team (ZZX) [ZZX],3.0,8.0,5.0,4.0,17.0,0.0,0.0,0.0,0.0,0.0,3.0,8.0,5.0,4.0,17.0
Totals,27.0,4809.0,4775.0,5130.0,14714.0,22.0,959.0,958.0,948.0,2865.0,49.0,5768.0,5733.0,6078.0,17579.0
North Korea (NK),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [82]:
# Відфільтрувати дані, показавши тільки country_5 (country_5 замінено Switzerland)
df[df.index.str.startswith("Switzerland")]

,№ Summer,Gold,Silver,Bronze,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total,unix_dates,normal_dates
Switzerland (SUI),27.0,47.0,73.0,65.0,185.0,22.0,50.0,40.0,48.0,138.0,49.0,97.0,113.0,113.0,323.0,850730291,1996-12-16 09:58:11

In [89]:
# Відфільтрувати дані, показавши тільки country_5 (country_5 замінено Switzerland) та всі країни крім азійських
asia_countries = ('China','India','Indonesia','Pakistan','Bangladesh','Japan','Philippines','Vietnam','Turkey',
                  'Iran','Thailand','Myanmar','South Korea','Iraq','Afghanistan','Saudi Arabia','Uzbekistan',
                  'Malaysia','Yemen','Nepal','North Korea','Sri Lanka','Kazakhstan','Syria','Cambodia','Jordan',
                  'Azerbaijan','United Arab Emirates','Tajikistan','Israel','Laos','Lebanon','Kyrgyzstan',
                  'Turkmenistan', 'Singapore','Oman','State of Palestine','Kuwait','Georgia','Mongolia','Armenia',
                  'Qatar','Bahrain','Timor-Leste','Cyprus','Bhutan','Maldives','Brunei','Hong Kong','Taiwan', 
                  'Macao')

df[~df.index.str.startswith(asia_countries)]

,№ Summer,Gold,Silver,Bronze,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total,unix_dates,normal_dates
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0,662949794,1991-01-04 00:43:14
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0,1369846777,2013-05-29 16:59:37
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0,247678071,1977-11-06 15:27:51
Australia (AUS) [AUS] [Z],25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0,874197369,1997-09-14 00:36:09
Austria (AUT),26.0,18.0,33.0,35.0,86.0,22.0,59.0,78.0,81.0,218.0,48.0,77.0,111.0,116.0,304.0,113846585,1973-08-10 16:03:05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Independent Olympic Participants (IOP) [IOP],1.0,0.0,1.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,3.0,218770765,1976-12-07 01:39:25
Zambia (ZAM) [ZAM],12.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,1.0,1.0,2.0,435700183,1983-10-22 19:49:43
Zimbabwe (ZIM) [ZIM],12.0,3.0,4.0,1.0,8.0,1.0,0.0,0.0,0.0,0.0,13.0,3.0,4.0,1.0,8.0,458896451,1984-07-17 07:14:11
Mixed team (ZZX) [ZZX],3.0,8.0,5.0,4.0,17.0,0.0,0.0,0.0,0.0,0.0,3.0,8.0,5.0,4.0,17.0,92215626,1972-12-03 07:27:06
Totals,27.0,4809.0,4775.0,5130.0,14714.0,22.0,959.0,958.0,948.0,2865.0,49.0,5768.0,5733.0,6078.0,17579.0,859702219,1997-03-30 06:10:19

In [40]:
# Змінити назву стовпців 01 !, 02 !, 03 ! на Gold, Silver, Bronze

df.rename(columns={"01 !": "Gold", "02 !": "Silver", "03 !": "Bronze"}, inplace=True)
df

,№ Summer,Gold,Silver,Bronze,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,13.0,0.0,0.0,2.0,2.0
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zambia (ZAM) [ZAM],12.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,1.0,1.0,2.0
Zimbabwe (ZIM) [ZIM],12.0,3.0,4.0,1.0,8.0,1.0,0.0,0.0,0.0,0.0,13.0,3.0,4.0,1.0,8.0
Mixed team (ZZX) [ZZX],3.0,8.0,5.0,4.0,17.0,0.0,0.0,0.0,0.0,0.0,3.0,8.0,5.0,4.0,17.0
Totals,27.0,4809.0,4775.0,5130.0,14714.0,22.0,959.0,958.0,948.0,2865.0,49.0,5768.0,5733.0,6078.0,17579.0
North Korea (NK),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
# Створити нову таблицю тільки з трьома стовпцями Gold, Silver і Bronze

df_copy=df[['Gold', 'Silver', 'Bronze']]
df_copy

                           Gold  Silver  Bronze
Afghanistan (AFG)           0.0     0.0     2.0
Algeria (ALG)               5.0     2.0     8.0
Argentina (ARG)            18.0    24.0    28.0
Armenia (ARM)               1.0     2.0     9.0
Australasia (ANZ) [ANZ]     3.0     4.0     5.0
...                         ...     ...     ...
Zambia (ZAM) [ZAM]          0.0     1.0     1.0
Zimbabwe (ZIM) [ZIM]        3.0     4.0     1.0
Mixed team (ZZX) [ZZX]      8.0     5.0     4.0
Totals                   4809.0  4775.0  5130.0
North Korea (NK)            0.0     0.0     0.0

[148 rows x 3 columns]

In [47]:
# Знищити рядок Totals
df_copy = df_copy.drop(index='Totals')
df_copy

                                              Gold  Silver  Bronze
Afghanistan (AFG)                              0.0     0.0     2.0
Algeria (ALG)                                  5.0     2.0     8.0
Argentina (ARG)                               18.0    24.0    28.0
Armenia (ARM)                                  1.0     2.0     9.0
Australasia (ANZ) [ANZ]                        3.0     4.0     5.0
...                                            ...     ...     ...
Independent Olympic Participants (IOP) [IOP]   0.0     1.0     2.0
Zambia (ZAM) [ZAM]                             0.0     1.0     1.0
Zimbabwe (ZIM) [ZIM]                           3.0     4.0     1.0
Mixed team (ZZX) [ZZX]                         8.0     5.0     4.0
North Korea (NK)                               0.0     0.0     0.0

[147 rows x 3 columns]

In [52]:
# Вивести країни які мають золоті медалі
df_copy[df_copy['Gold']>0]

                            Gold  Silver  Bronze
Algeria (ALG)                5.0     2.0     8.0
Argentina (ARG)             18.0    24.0    28.0
Armenia (ARM)                1.0     2.0     9.0
Australasia (ANZ) [ANZ]      3.0     4.0     5.0
Australia (AUS) [AUS] [Z]  139.0   152.0   177.0
...                          ...     ...     ...
Uzbekistan (UZB)             5.0     5.0    10.0
Venezuela (VEN)              2.0     2.0     8.0
Yugoslavia (YUG) [YUG]      26.0    29.0    28.0
Zimbabwe (ZIM) [ZIM]         3.0     4.0     1.0
Mixed team (ZZX) [ZZX]       8.0     5.0     4.0

[99 rows x 3 columns]

In [50]:
# Підрахувати їх кількість
len(df_copy[df_copy['Gold']>0])

99

In [54]:
# Яка країна має найбільшу кількість золотих медалей?
df_copy[df_copy['Gold'] == df_copy['Gold'].max()]

                                      Gold  Silver  Bronze
United States (USA) [P] [Q] [R] [Z]  976.0   757.0   666.0

In [56]:
# Які країни мають і золоті і срібні медалі?
df_copy[(df_copy['Gold']>0) & (df_copy['Silver']>0)]

                            Gold  Silver  Bronze
Algeria (ALG)                5.0     2.0     8.0
Argentina (ARG)             18.0    24.0    28.0
Armenia (ARM)                1.0     2.0     9.0
Australasia (ANZ) [ANZ]      3.0     4.0     5.0
Australia (AUS) [AUS] [Z]  139.0   152.0   177.0
...                          ...     ...     ...
Uzbekistan (UZB)             5.0     5.0    10.0
Venezuela (VEN)              2.0     2.0     8.0
Yugoslavia (YUG) [YUG]      26.0    29.0    28.0
Zimbabwe (ZIM) [ZIM]         3.0     4.0     1.0
Mixed team (ZZX) [ZZX]       8.0     5.0     4.0

[93 rows x 3 columns]

In [64]:
# Чи є в таблиці Україна?
df_copy.loc['Ukraine\xa0(UKR)']

Gold      33.0
Silver    27.0
Bronze    55.0
Name: Ukraine (UKR), dtype: float64